body {
	font-family: 'Sigmar one', sans-serif;
	color: #000000;
	background: #FFFFFF repeat;
}

a {
	color: #CC0099;
	text-decoration: none;
}

h1 {
	font-size: 1.750em;
	letter-spacing: -1.5px;
}

h2 {
	font-size: 1.500em;
	color: #CC0099;
}

.btn{
	color: #FFFFFF;
	background: #CC0099;
	padding: 15px 30px;
	margin: 40px 0px;
	border-radius: 25px;
	text-transform: uppercase;
}

.btn:hover {
	background-color: #4CC4A7;
}

ul.nav {
	margin: 120px 0 0 0;
	list-style: none;
	float: right;
}

ul.nav li {
	margin-right: 20px;
	float: left;
}

ul.nav li a {
	color: #CC0099;
}


#intro {
	margin: 50px 0 75px 0;
}



#new-cupcakes img {
	border: 8px solid #CC0099;
	margin: 0 0 20px 0;
}


#featured-cupcake img {
	border: 8px solid #CC0099;
}

#copyright {
	border-top: 8px solid #CC0099;
	padding: 10px 0px;
	margin: 15px 0px;
	text-align: center;
}







